@charset "ISO-8859-1";

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

header {
	background: #3A3A3C;
	color: aliceblue;
}

.header-welcome img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #F16E5B;
}

.header-welcome {
	display:flex;
	justify-content: center;
	align-items:center;
} 

.header-welcome p {
	margin-left: 1rem;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul li a {
	margin-left: 1rem;
}

header nav ul li a {
	color: #fff;
	transition: color 400ms ease;
}

header ul li a:hover {
	color: #ff725e;
}

header ul li a img {
	margin-top: 4px;
}

header .header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem;
}